<nav class="navbar navbar-default">
	<div class="navbar-header">
    <div class="navbar-brand"><%= Rails.application.config.x.name %></div>
	</div>
</nav>

<section class="container-default">
	Hello World!
</section>